main{
    .jumbotron{
        height: 300px;
        background-repeat: no-repeat;
        background-position: top;
        background-size: cover;
        background-image: url('../images/jumbotron.jpg');
    }
}