* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  font-family: "Segoe UI", "Open Sans", Helvetica, sans-serif;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

header {
  background-color: white;
  height: 100px;
}
header .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container img {
  height: 70px;
}
header .container ul {
  display: flex;
}
header .container ul li {
  list-style-type: none;
  color: rgb(19, 19, 19);
}
header .container ul li a {
  text-decoration: none;
  margin: 0 10px;
  color: black;
}
header .container ul li a:visited {
  color: black;
}
header .container ul li a:hover {
  color: rgb(13, 130, 249);
}

footer {
  background-image: url("../images/footer-bg.jpg");
}
footer .footer-top {
  color: white;
}
footer .footer-top .container {
  display: flex;
  padding: 20px 0;
  background-image: url("../images/dc-logo-bg.png");
  background-repeat: no-repeat;
  background-position: center right;
}
footer .footer-top .container nav {
  margin-right: 30px;
}
footer .footer-top .container nav h3 {
  padding: 10px 0;
}
footer .footer-top .container nav ul li {
  list-style-type: none;
}
footer .footer-top .container nav ul li a {
  color: white;
  text-decoration: none;
}
footer .footer-bottom {
  height: 100px;
  background-color: rgb(28, 28, 28);
}
footer .footer-bottom .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footer-bottom .container .button a {
  text-decoration: none;
  color: white;
  border: 1px solid rgb(13, 130, 249);
  padding: 10px 18px;
}
footer .footer-bottom .container .social {
  display: flex;
  align-items: center;
}
footer .footer-bottom .container .social h3 {
  color: rgb(13, 130, 249);
  margin-right: 10px;
}
footer .footer-bottom .container .social a {
  width: 30px;
  height: 30px;
  margin: 0 5px;
  background-color: grey;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(28, 28, 28);
  text-decoration: none;
}

#home {
  background-color: #1C1C1C;
}
#home .jumbotron {
  height: 300px;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  background-image: url("../images/jumbotron.jpg");
}
#home .series .current-series {
  background-color: rgb(13, 130, 249);
  font-size: 20px;
  font-weight: 500;
  padding: 12px 25px;
  display: inline;
  margin-top: -20px;
}
#home .series .row {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 0;
}
#home .series .row .card {
  width: 16.6666666667%;
  padding: 10px;
  margin-top: 30px;
}
#home .series .row .card img {
  max-width: 100%;
}
#home .series .row .card p {
  margin-top: 10px;
}
#home .series a {
  display: inline-block;
  background-color: rgb(13, 130, 249);
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  margin: 20px 0;
}
#home .buy-comics {
  background-color: rgb(13, 130, 249);
  padding: 20px;
}
#home .buy-comics .container {
  display: flex;
  flex-wrap: wrap;
}
#home .buy-comics .container .card {
  width: 20%;
  padding: 10px;
  display: flex;
  align-items: center;
}
#home .buy-comics .container .card img {
  width: 15%;
}
#home .buy-comics .container .card p {
  width: 85%;
  font-size: 12px;
  margin-left: 10px;
}

#show {
  background-color: #1C1C1C;
}
#show .jumbotron {
  height: 320px;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  background-image: url("../images/jumbotron.jpg");
}
#show .current-series {
  background-color: rgb(13, 130, 249);
  height: 50px;
  font-size: 20px;
  font-weight: 500;
  margin-top: -20px;
}
#show .series .row {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 0;
}
#show .series .row .card {
  width: 16.6666666667%;
  padding: 10px;
  margin-top: 30px;
}
#show .series .row .card img {
  max-width: 100%;
}
#show .series .row .card p {
  margin-top: 10px;
}
#show .series a {
  display: inline-block;
  background-color: rgb(13, 130, 249);
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  margin: 20px 0;
}
#show .buy-comics {
  background-color: rgb(13, 130, 249);
  padding: 20px;
}
#show .buy-comics .container {
  display: flex;
  flex-wrap: wrap;
}
#show .buy-comics .container .card {
  width: 20%;
  padding: 10px;
  display: flex;
  align-items: center;
}
#show .buy-comics .container .card img {
  width: 15%;
}
#show .buy-comics .container .card p {
  width: 85%;
  font-size: 12px;
  margin-left: 10px;
}